figure {
    height: fit-content;
    max-height: 75vh;
}

figure img {
    height: fit-content;
    max-width: 100%;
    max-height: 75vh;
}

.text-shadow {
    text-shadow: 0px 0px 5px black;
}

input {
    border: 1px solid rgb(151, 151, 151) !important;
}

input[type=number] {
    width: 4rem;
}